/* remove any basic style added by the browser */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lavender;
    /* try a linear gradient here for fun.
    will need to use background-image: */

    font-family: 'Balsamiq Sans', cursive; ;
    
    min-height: 100vh;
}

header {
    font-size: 3rem;
}

header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, 
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    cursor: pointer;
}

form button:hover {
    background: lightpink;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    list-style: none;
    min-width: 30%;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo li {
    flex: 1;
}

.complete-button, 
.remove-button {
    background: lightpink;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.remove-button:hover {
    background: red;
}

.complete-button:hover {
    background: green;
}

.todo-item {
    padding: 0rem, 0.5rem;
}

/* make the icons not clickable */
.fa-check, 
.fa-trash {
    pointer-events: none;
}

/* when item is marked completed, display in strike through font. */

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/* styling the select dropdown */

select {
    /* remove all the default styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;

}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: lightpink;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}

